<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CRM APP</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<header>
		<a href="/">
			<h1><%= @crm_app_name %> </h1>
		</a>
		<h4>A little address book.</h4>
	</header>
	<section id="get_started">
		<h3> Get Started! </h3>
		<h4>
			<a href="/contacts/new">
				<img class="get_started_icon" src="../User-Profile-128.png"></br>
				CREATE A CONTACT
			</a>
		</h4>
	</section>
	<footer>
    	<p>&#64; MY CRM</p>
    </footer>
</body>
</html>