<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CRM APP</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<header>
		<a href="/">
			<h1><%= @crm_app_name %> </h1>
		</a>
		<h4>A little address book.</h4>
		<nav>
			<ul>
				<li>
		  		 	<a href="/contacts/new">+ Add Contact</a>
		  		</li>
		  		<li>
		  			<a href="/contacts">+ View Contacts</a>
		  		</li>
		  		<li>
		  			<a href="/search">+ Search Contacts</a>
		  		</li>
			</ul>
		</nav>
	</header>
    <%= yield %>
    <footer>
    	<p>&#64; CRM WEB APP</p>
    </footer>
</body>
</html>

