<section class="newContacts">
	<h2><span>Create a New Contact</span></h2>
	<form action="/contacts" method="post">
		<label for="firstname">First Name:</label>
		<input id ="firstname" type="text" name="first_name">
		<label for="lastname">Last Name:</label>
		<input id="lastname"type="text" name="last_name">
		<label for="email">Email:</label>
		<input id="email" type="text" name="email">
		<label for="note">Note:</label>
		<input id="note" type="text" name="note">
		<input class="flatButton" type="submit" name="Submit" value="Add Contact">	
	</form>
</section>
