<!DOCTYPE html>
<html>
<head>
	<title>CRM APP</title>
</head>

<body>
	<h1>Create a New Contact</h1>
	<a href="/">Return to Main Menu</a>
		<form action="/contacts" method="post">
		<input type="text" name="first_name">
		<input type="text" name="last_name">
		<input type="text" name="email">
		<input type="text" name="note">
		<input type="submit" name="Submit">
</form>
</body>

</html>