<h2>Search for A Contact</h1>

<form action="/results" method="get">
  <label>Enter a name:<label>
  <input type="text" name="query"/>   
  <input type="submit" class="flatButton" value="Search"/>
</form>


